.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  padding: 20px 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #16549d;
}

.App-link {
  text-decoration: none;
  color: #ffffff;
}

.App-body {
  display: flex;
  justify-content: space-around;
}

.source-logo {
  width: 20%;
}
